*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.header{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0,0.7),rgba(0, 0, 0, 0.7)),url(bg3.jpg);
	background-size: cover;
	background-position: center;
    position: relative;
    background-color: rgb(5,0, 16);
}
nav{
	width: 98%;
	height: 10vh;
	margin: auto;
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
nav img{
	width: 80px;
	cursor: pointer;
}
}
.nav-links{
	flex: 1;
	text-align: right;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	margin: 0 10px;
	position: relative;
}
.nav-links ul li a{
	text-decoration: none;
	color: rgb(32,200, 0);
	text-transform: uppercase;
	

}


/*    the properties of slider in mobile of 700px in @media tag */
/*

@media(max-width: 700px){
.nav-links ul li a{

	text-decoration: none;
	color: rgb(32,200, 0);
	text-transform: uppercase;
	border-radius: 50px;
	border: 2px solid rgb(32, 200, 0);
padding: 7px 20px;
margin-top: 50% ; 
}
  }
*/


.nav-links ul li::after{
	content: '';
	height: 2px;
	width: 0;

	background: rgb(32,200, 0);
	position: absolute;
	left: 0;
	bottom: 0;
	transition: 0.5s;
}
.nav-links ul li:hover::after{
	width: 100%;
}
.text-box{
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: rgb(32,200, 0);
}
.text-box h1{
	font-size: 70px;
	margin-top: 80px;
}
.text-box p{
	font-size: 25px;
	margin: 20px auto;
	font-weight: 100;
	line-height: 25px;
}
button{
	font-size: 15px;
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid rgb(32,200, 0);
	background: transparent;
	color: rgb(32,200, 0);
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
span{
	background: rgb(32,200,0);
	height: 100%;
	width: 0;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}
button:hover span{
	width: 100%;
}
/* the border section is empty in the botton:hover{} because we dont want to
 show hide the border at hover effect. if we can write a none in it it wil hide the border. 
*/
button:hover{
	border: ;
    color: rgb(0, 0, 0);
}
nav .fa{
	display: none;
}
@media(max-width: 700px){
	.text-box h1{
	font-size: 36px;
	margin-top: 80px;
}
    .text-box p{
    	font-size: 19px;
    }
    .nav-links ul li{
    	display: block;
    	margin: 25px 20px;
    	
    }
    .nav-links{
    	position: fixed;
    	background: rgb(0,0,0);
    	height: 100vh;
    	width: 200px;
    	top: 0;
    	right: -200px;
    	text-align: left;
    	z-index: 2;
    	transition: 1s;
    }
nav img{
	width: 60px;
	cursor: pointer;
}
nav .fa{
	display: block;
	color: rgb(32, 200, 0);
	margin: 20px;
	font-size: 22px;
	cursor: pointer;
}
}



/*-------------------------Cyber-------------------------*/



.cyber{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}
h1{
	font-size: 36px;
	font-weight: 600;
	color: rgb(32, 200, 0);
}
p{
	color: rgb(32, 200, 0);
	font-size: 25px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}
.row{
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}
.cyber-col{
	flex-basis: 31%;
	background: rgb(0,38, 0);
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 0.5s;
}
.cyber-col h3{
	text-align: center;
	margin: 10px 0;
	font-size: 20px;
	color: rgb(32, 200, 0);
}
.cyber-col p{
	text-align: center;
	font-size: 18px;
	color: rgb(32,200, 0);
}
.cyber-col:hover{
	box-shadow: 0 0 20px 0 rgb(32, 200, 0);
}
@media(max-width: 700px){
	.row{
		flex-direction: column;
	}
}




/*-----------------------------------career---------------------------------*/



.career{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 50px;
}
.career h3{
	color: rgb(32, 200, 0);
}
.career button{
	font-size: 25px;
	width: 200px;
	padding-top: 100px;
	padding: 35px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 35px;
	font-weight: bold;
	border: 4px solid rgb(32,200, 0);
	background: transparent;
	color: rgb(32,200, 0);
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
.career button:hover{
	border: ;
    color: rgb(0, 0, 0);
}
.career span{
	background: rgb(32,200,0);
	height: 100%;
	width: 0;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}



/*--------------------------Blog------------------------------------*/


.blog{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}
.blog-col{
	flex-basis: 31%;
	border-radius: 10px;
	margin-bottom: 5%;
	text-align: left;
}
.blog-col img{
	width: 200px;
	margin-left: 100px;
	height: 70pxpx;
	border-radius: 10px;
}
.blog-col p{
	padding: 0;
	font-size: 19px;
	text-align: center;
}
.blog-col h2{
	color: rgb(32, 200, 0);
	margin-top: 16px;
	margin-bottom: 15px;
	text-align: center;
}
@media(max-width: 700px){
	.blog p{
		font-size: 20px;
	}
	.blog img{
		width: 200px;
	margin-left: 45px;
	height: 70pxpx;
	border-radius: 10px;
	}
	.blog-col img{
	width: 200px;
	margin-left: 70px;
	height: 70pxpx;
	border-radius: 10px;
	}
}



/*-----------------------------testimonials------------------------------------*/


.testimonial{
	width: 80%;
	margin: auto;
	padding-top: 100px;
	text-align: center;
}
.testimonial-col{
	flex-basis: 44%;
	border-radius: 10px;
	margin-bottom: 5%;
	text-align: left;
	background: rgb(0, 38, 0);
	padding: 25px;
	cursor: pointer;
	display: flex;
	transition: 0.5s;
}
.testimonial-col img{
	height: 40px;
	margin-left: 5px;
	margin-right: 30px;
	border-radius: 50%;
}
.testimonial-col p{
	font-size: 18px;
	padding: 0;
}
.testimonial-col h3{
	color: rgb(32, 200, 0);
	font-size: 18px;
	text-align: left;
	margin-top: 15px;
}
.testimonial-col i{
	padding-top: 7px;
	color: rgb(32, 200, 0);
}
.first h1{
	font-size: 30px;
padding-bottom: 20px;
margin-top: -25px;
	color: rgb(32, 200, 0);
}
.first a{
	text-decoration: none;
}
@media(max-width: 700px){
	.testimonial-col img{
		margin-left: 0px;
		margin-right: 15px;
	}
	.testimonial p{
		font-size: 18px;
	}
}
.row{
	margin-top: 30px;
}
.testimonial-col:hover{
	box-shadow: 0 0 20px 0 rgb(32, 200, 0);
}


/*----------------------------call to action---------------------------*/
.cta{
	margin: 100px auto;
	width: 80%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url(banner.jpg);
	background-size: cover;
	background-position: center;
	border-radius: 10px;
	text-align: center;
	padding: 100px 0;
	color: rgb(32, 200, 0);
	top: 50%;
	transform: translateY(-30%);
	text-align: center;
	color: rgb(32,200, 0);
}
.cta button{
	font-size: 20x;
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid rgb(32,200, 0);
	background: transparent;
	color: rgb(32,200, 0);
	cursor: pointer;
	position: relative;
	overflow: hidden;
	transition: 0.5s;
}
.cta span{
	background: rgb(32,200,0);
	height: 100%;
	width: 0;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}
.cta span:hover{
	color: rgb(32, 200, 0);
	width: 100%;
}
.cta button:hover{
	border: ;
    color: rgb(0,0, 0);
}
@media(max-width: 700px){
	.cta{
		top: 50%;
	transform: translateY(-10%);
	}
	.cta h1{
		font-size: 27px;
	}
	  }
/*------------------------------footer---------------------------------*/
.footer{
   width: 100%;
   transform: translateY(-30%);
}
.footer h3{
	text-align: center;
	color: rgb(32, 200, 0);
	font-size: 30px;
}
.footer p{
	color: rgb(32, 200, 0);
	font-size: 20px;
	text-align: center;
}
.mrtrojan h2{
	color: rgb(32, 200, 0);
    text-align: center;
    transform: translateY(-200%);
}
.first button{
	margin-bottom: 70px;
	margin-top: -25px;

   width: 170px;
   height: 40px;
}
.first h2{
	margin-top: -9px;
}

.icons button{

border-radius: 50px;
width: 80px;
height: 80px;
}





@media(max-width: 700px){
	.footer p{
		font-size: 15px;
		text-align: center;
	}
	.footer{
	  transform: translateY(-10%);
	}
}
.icons{
	color: rgb(32, 200, 0);
	text-align: center;
	margin: 13px 0;
}
.footer button{
	border-radius: 100px;
	font-size: 30px ;
	padding: 20px 0px;
}
.footer h2{
	color: rgb(32, 200, 0);
}





@media(max-width: 700px){  
.first h1{
	margin-top: 20px;
	margin-bottom: -30px;
}

.first button{
	margin-bottom: -20px;
	margin-top: 10px;
	width: 180px;
	height: 40px;
}
.first h2{
	margin-top: -9px;
}
}