*{
  margin: 0;
  padding: 0;

  font-family: sans-serif;
}
.sub-header{
    /*background-image: linear-gradient(rgba(0, 0, 0,0.85),rgba(0, 0, 0, 0.85)),url(blog1.jpg);*
  width: 100%
  height: 100vh;
  background-size: cover;
  background-position: center;
    position: relative;*/
  
}
nav{
  width: 98%;
  height: 10vh;
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav img{
  width: 80px;
  cursor: pointer;
}
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  position: relative;
}
.nav-links ul li a{
  /*font-size: 22px;
  padding-left: 40px;*/
  text-decoration: none;
  color: rgb(32,200, 0);
  text-transform: uppercase;
}
.nav-links ul li::after{
  content: '';
  height: 2px;
  width: 0;
  background: rgb(32,200, 0);
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}
.text-box{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: rgb(32,200, 0);
}
.text-box h1{
  font-size: 70px;
  margin-top: 80px;
}
.text-box p{
  font-size: 25px;
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}
.sub-header h1{
  margin-top: -2.5%;
}
nav .fa{
  display: none;
}
@media(max-width: 700px){
  .text-box h1{
  font-size: 36px;
  margin-top: 80px;
}
    .text-box p{
      font-size: 19px;
    }
    .nav-links ul li{
      display: block;
      margin: 25px 20px;
      
    }
    .nav-links{
      position: fixed;
      background: rgb(0,0,0);
      height: 100vh;
      width: 200px;
      top: 0;
      right: -200px;
      text-align: left;
      z-index: 2;
      transition: 1s;
    }
nav img{
  width: 60px;
  cursor: pointer;
}
nav .fa{
  display: block;
  color: rgb(32, 200, 0);
  margin: 20px;
  font-size: 22px;
  cursor: pointer;
}
}























/*--------------Properties for div-----------*/


{
  display: none;
}





/*--------------my edited--------*/

@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body {
  /*background: #e2e2e2;*/
  background: black;
  width: 98%;
  height: 95vh;
}
body .card {
  width: 1000px;
  height: 450px;
  background: transparent;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0%;
  bottom: 0;
  border:2px solid rgb(32, 200, 0);
  border-radius: 3px;
  box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
}
body .card_left {
  width: 40%;
  height: 450px;
  float: right;
  overflow: hidden;
  background: transparent;
}
body .card_left img {
  width: 90%;
  bottom: 0%;
  top: 10%;
  margin-left: 30px;
  height: 80%;
  border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  position: relative;
}
body .card_right {
  width: 60%;
  float: left;
  background: #000000;
  height: 400px;
  border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
}
body .card_right h1 {
  color: rgb(32, 200, 0);
  font-family: "Montserrat", sans-serif;

  font-weight: 400;
  text-align: left;
  font-size: 40px;
  margin: 30px 0 0 0;
  padding: 0 0 0 40px;
  letter-spacing: 1px;
}
body .card_right__details ul {
  list-style-type: none;
  padding: 0 0 0 40px;
  margin: 10px 0 0 0;
}
body .card_right__details ul li {
  display: inline;
  /*color: #e3e3e3;*/
  color: rgb(32, 200, 0);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 0 40px 0 0;
}
body .card_right__rating__stars {
  position: relative;
  right: 420px;
  margin:  10px 0 10px 0 ;
  /***** CSS Magic to Highlight Stars on Hover *****/
  /* hover previous stars in list */
}
body .card_right__rating__stars fieldset,
body .card_right__rating__stars label {
  margin: 0;
  padding: 0;
}
body .card_right__rating__stars .rating {
  border: none;
}
body .card_right__rating__stars .rating > input {
  display: none;
}
body .card_right__rating__stars .rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  display: inline-block;
  content: "";
  font-family: FontAwesome;
}
body .card_right__rating__stars .rating > .half:before {
  content: "";
  position: absolute;
}
body .card_right__rating__stars .rating > label {
  color: #ddd;
  float: right;
}
body .card_right__rating__stars .rating > input:checked ~ label,
body .card_right__rating__stars .rating:not(:checked) > label:hover,
body .card_right__rating__stars .rating:not(:checked) > label:hover ~ label {
  /*color: #ffd700;*/
  color: rgb(32, 200, 0);
}
body .card_right__rating__stars .rating > input:checked + label:hover,
body .card_right__rating__stars .rating > input:checked ~ label:hover,
body .card_right__rating__stars .rating > label:hover ~ input:checked ~ label,
body .card_right__rating__stars .rating > input:checked ~ label:hover ~ label {
  /*color: #ffed85;*/
  color: rgb(32, 200, 0);
}
body .card_right__review p {
  color: rgb(32, 200, 0);
   font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding: 0 40px 0 40px;
  letter-spacing: 1px;
  margin: 10px 0 10px 0;
  line-height: 20px;
}
body .card_right__review a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  padding: 0 0 0 40px;
  /*color: #ffda00;*/
  color: rgb(32, 200, 0);
  margin: 0;
}
body .card_right__button {
  padding: 0 0 0 40px;
  margin: 30px 0 0 0;
}
body .card_right__button i{
  margin-left: -20px;
  margin-right: 5px;
}

body .card_right__button a {
  /*color: #ffda00;*/
  color: rgb(32, 200, 0);
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  /*border: 2px solid #ffda00;*/
  border: 2px solid rgb(32, 200, 0);
  padding: 10px 10px 10px 40px;
  font-size: 16px;
  /*background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/343086/COMdoWZ.png);*/
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 7% 50%;
  border-radius: 5px;
  transition-property: all;
  transition-duration: 0.5s;
}
body .card_right__button a:hover {
  color: #000000;
  /*background-color: #ffda00;*/
  background-color: rgb(32, 200, 0);
  /*background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/343086/rFQ5dHA.png);*/
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 10% 50%;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.5s;
}







section h1{
  color: rgb(32, 200, 0);
  font-size: 70px;
  text-align: center;
}













/*------------------------------footer---------------------------------*/
.footer{
   width: 100%;
   text-align: center;
   margin: auto;
   transform: translateY( 315%);
}
.footer h2{
  text-align: center;
  color: rgb(32, 200, 0);
  font-size: 30px;
}
.footer p{
  color: rgb(32, 200, 0);
  font-size: 20px;
  text-align: center;
}
.mrtrojan h2{
  color: rgb(32, 200, 0);
    text-align: center;
    transform: translateY(-200%);
}
.first button{
  margin-bottom: 70px;
  margin-top: -25px;

   width: 170px;
   height: 40px;
}
.first h2{
  margin-top: -9px;
}

.icons i{

}

.icons button{

border-radius: 50px;
width: 80px;
height: 80px;
}

@media(max-width: 700px){
  .footer p{
    font-size: 15px;
    text-align: center;
  }
  .footer{
    transform: translateY(-10%);
  }
}

.footer button{
  border-radius: 100px;
  font-size: 30px ;
  padding: 20px 0px;
}


button{
  font-size: 15px;
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid rgb(32,200, 0);
  background: transparent;
  color: rgb(32,200, 0);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
span{
  background: rgb(32,200,0);
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
button:hover span{
  width: 100%;
}
/* the border section is empty in the botton:hover{} because we dont want to
 show hide the border at hover effect. if we can write a none in it it wil hide the border. 
*/
button:hover{
  border: ;
    color: rgb(0, 0, 0);
}





/*Properties for view for mobile*/
@media(min-width:700px){
  .main{
    display: none;
  }
}
@media(max-width: 700px){
  .card{
    display: none;
  }
}


@media(max-width: 700px){
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
  body{
    background: black;
    width: 98%;
  }
   .main{
    margin-top:-40px;
    width: 98%;
    border: 0px solid rgb(32, 200, 0);
  }
  .image{
    top: 10px;
    text-align: center;
  }
  .image img{
    padding-top: 40px;
    width: 50%;
  }

.one h1{
  font-size: 60px;
  color: rgb(32, 200, 0);
  text-align: center;
  margin-top: -45px;
}
    .main h1{
    padding-top: 10px;
    color: rgb(32, 200, 0);
    padding-left: 30px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;

  }

   .main ul {
  list-style-type: none;
  padding: 0 0 0 40px;
  margin: 10px 0 0 0;
  margin-left: -13px;
}
 .main ul li {
  display: inline;
  /*color: #e3e3e3;*/
  color: rgb(32, 200, 0);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 13px;
  padding: 0 40px 0 0;
}

 .main p{
  color: rgb(32, 200, 0);
  padding-top: 15px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  padding-left: 30px;
  padding-right: 20px;
}



 .main .card_right__rating__stars {
  position: relative;
  right:95px;
  margin:  10px 0 10px 0 ;
  /***** CSS Magic to Highlight Stars on Hover *****/
  /* hover previous stars in list */
}
 .main .card_right__rating__stars fieldset,
 .main .card_right__rating__stars label {
  margin: 0;
  padding: 0;
}
 .main .card_right__rating__stars .rating {
  border: none;
}
 .main .card_right__rating__stars .rating > input {
  display: none;
}
 .main .card_right__rating__stars .rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  display: inline-block;
  content: "";
  font-family: FontAwesome;
}
 .main .card_right__rating__stars .rating > .half:before {
  content: "";
  position: absolute;
}
 .main .card_right__rating__stars .rating > label {
  color: #ddd;
  float: right;
}
 .main .card_right__rating__stars .rating > input:checked ~ label,
 .main .card_right__rating__stars .rating:not(:checked) > label:hover,
 .main .card_right__rating__stars .rating:not(:checked) > label:hover ~ label {
  /*color: #ffd700;*/
  color: rgb(32, 200, 0);
}
 .main .card_right__rating__stars .rating > input:checked + label:hover,
 .main .card_right__rating__stars .rating > input:checked ~ label:hover,
 .main .card_right__rating__stars .rating > label:hover ~ input:checked ~ label,
 .main .card_right__rating__stars .rating > input:checked ~ label:hover ~ label {
  /*color: #ffed85;*/
  color: rgb(32, 200, 0);
}


  .main .card-button {
  padding: 0 0 0 40px;
  margin: 30px;
}
  .main .card-button i{
  margin-left: -20px;
  margin-right: 5px;
}

 .main .card-button a {
  /*color: #ffda00;*/
  color: rgb(32, 200, 0);
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  /*border: 2px solid #ffda00;*/
  border: 2px solid rgb(32, 200, 0);
  padding: 10px 10px 10px 40px;
  font-size: 16px;
  /*background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/343086/COMdoWZ.png);*/
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 7% 50%;
  border-radius: 5px;
  transition-property: all;
  transition-duration: 0.5s;
}
 .main .card-button a:hover {
  color: #000000;
  /*background-color: #ffda00;*/
  background-color: rgb(32, 200, 0);
  /*background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/343086/rFQ5dHA.png);*/
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 10% 50%;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.5s;
}


}

